.singleproduct{
    .product{
    box-shadow: 1px 1px 1px 1px $secondary;

    }
    .cv-btn{
        width: 15em;
        height: 3em;
        margin-top:6em !important;
    }
    
    .productImg{
        display: flex;
        justify-content: flex-end;
        img{
            width: 20em !important;
            height: 30em !important;
        }
    }
    
}