.sidebar {
	.title { 
	color: white;
	font-size: 24px;
	margin-top: 10px;

}
.menu-items {
	display: flex;
	flex-direction: column;
	margin-top: 7em;
	margin-left: 6px;

}
.side-btn {
	border: none;
	padding: 16px 0px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	color: white;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.side-btn.active {
	position: relative;
	background-color: white;
	color: $secondary;
	font-weight: 600;
	margin-left: 10px;
	border-radius: 30px 0 0 30px;
	i{
		color: $secondary;

	}
	&::before {
		top: -30px;
		position: absolute;
		content: "";
		right: 0;
		height: 30px;
		width: 30px;
		background-color: white;
	}
	&::after {
		bottom: -30px;
		position: absolute;
		content: "";
		right: 0;
		height: 30px;
		width: 30px;
		background-color: white;
	}
	.link-container {
		&::before {
			top: -60px;
			position: absolute;
			content: "";
			right: 0px;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-color: $primary;
		}
		&::after {
			bottom: -60px;
			z-index: 99;
			position: absolute;     
			content: "";
			right: 0px;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-color: $primary;
		}
	}
}
}
.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: $primary !important;
    height: 100vh;
    width: 100vw;
}

.content {
    background-color: white;
    border-radius: 10px;
    margin: 6px 6px 6px 0px;
}
.btn-category{
	background-color: $seccess !important;
}
.category-table{
	
	padding: 2em  !important;
	thead{
		background-color: $secondary !important;
	}
	tbody{
		background-color:$light !important;
	}
}
.user_img{
	img{

		width: 6em !important;
		height: 6em !important;
		border-radius: 50% !important;
	}
}
.logout{
	a{
		padding-left: 3em !important;
		color: $light !important;
		cursor: pointer;
	}
}
.categories-collaps{
	width: 100%;
	
	
	button{

		margin:0 22px 0 22px;
	}
	.collaps{
		display:block;
	}
}
.table-products{

		.othman{
			background-color:white !important;
		}
		.walid{
			background-color:white !important;
		}
	
}
.paginations{
	padding-top:7em !important;
}
.pagination-item,
.pagination-navigation,
.pagination-more {
	display: flex;
    height:  2.2rem;
	width:30em;
	margin: .3rem;
    font-size:15px;
    color: $primary;
    font-weight: 700;
}

.pagination {
   
    border-radius: 4px;
    transition-property: opacity, color, background-color;
    transition-duration: 160ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);


   
    &.active {
        color: $secondary;
        background-color: $primary;
    }  
}
.modalDashboard{
	display:flex;
	justify-content:center !important;
	form{
		width:70% !important;
	}
	input{
		margin:2em auto !important;

	}
	
}